@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
@media (max-width: 600px){

    header{
        padding: 30px 10px;
    }

    .NAV__prime0{
        max-width: 40%;
    }

    .NAV__prime0 .A__prime0{
        padding: 10px;
        font-size: 0.9rem;
    }

}
:root{
    --cor-0:#107361;
    --cor-1:#1d7373;
    --cor-2:#0f5959;
    --cor-3:#0a3a40;
    --cor-4:#042326;
    --cor-5:black;
    --cor-6:white;
}

body{
    background-color: var(--cor-4);
    background-image: url(imagens/pexels-enginakyurt-15270376.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
    
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(to bottom, #000000f4, #000000e9  );
    z-index: -1;
    pointer-events: none;
}
header{
    background-color: var(--cor-4);
    color: white;
    padding: 50px 0 10px;
    text-align: center;
}
/*
se 5vw < 1.5rem → usa 1.5rem
se 5vw > 2.5rem → usa 2.5rem
senão → usa 5vw
*/
.H1__prime0{
    font-family: Anton, Arial, sans-serif;
    padding: 20px;
    letter-spacing: 2px;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: lighter;

}
.NAV__prime0{
    position: relative;
    background-color: var(--cor-5);
    max-width: 525px;
    min-height: 50px;
    border: solid 3px ;
    border-radius: 10px ;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    


}

.NAV__prime0 .A__prime0{
    color: var(--cor-6);
    position: relative;
    display: inline-block;
    padding: 0 23px;
    flex-wrap: wrap;

    font-weight: 600;
    text-decoration: none;
    z-index: 2;

    flex: 1;
    text-align: center;
}

.A__prime0:hover{
    text-shadow: 0px 0px 2px var(--cor-6);
}

span{
    position: absolute;
    background-image: linear-gradient(to right, var(--cor-0), var(--cor-1)) ;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    border-radius: 10px;
    transition: 0.5s;
}
.NAV__prime0 .A__prime0:nth-child(1):hover~span{
    left: 0;
}
.NAV__prime0 .A__prime0:nth-child(2):hover~span{
    left: 25%;
    
}
.NAV__prime0 .A__prime0:nth-child(3):hover~span{
    left: 50%;
}
.NAV__prime0 .A__prime0:nth-child(4):hover ~ span{
    left: 75%;
}
#SEC__prime0{
    position: relative;
    text-align: center;
    color: var(--cor-6);

    width: 250px;
    height: 250px;
    aspect-ratio: 1/1;

    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    background-color: black;
}
#SEC__prime0::before{
    content: "";
    position: absolute;
    inset: -5px;
    background: linear-gradient(45deg, var(--cor-0), var(--cor-1), var(--cor-2), var(--cor-3), var(--cor-4));
    border-radius: 50%;
    z-index: -1;

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
#H2__prime0{
    padding: 10px;
    font-family: Anton, Arial, sans-serif; 
    font-weight: lighter;
    letter-spacing: 2px;

}
